*{
  padding: 0;
  margin: 0;
}

body{
  /* display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center; */
  font-family: 'Mukta', sans-serif;
}

.App {
  display: flexbox;
  text-align: center;
  /* align-items: center; */
  justify-content: center;
  /* flex-direction: column; */
  /* background-color: rgba(105, 63, 213, 0.36); */
  height: 50vh;
  /* width: 40vw; */
  color: black;
  /* border-radius: 30px; */
  /* margin: auto auto; */
}

.weat_speed{
    display: flex;
  justify-content: center;
  margin: 30px 15px;
}

.speed,.humidity{
  padding: 0px 5vw; 
}

.App{
  padding: 4em 0px;
}

p{
  font-size: 3ex;
}

h2{
  font-size: 3.5em;
}

.Weather{
  margin: 2em auto;
  border: 1px solid black;
  border-radius: 20px;
  width: 50vw;
  /* background-color: rgb(38, 173, 178); */
  color: white;
  background-image: linear-gradient(rgb(30, 149, 153), rgb(58, 180, 95));
  padding: 1.5em 0px;
}

input{
  width: 25%;
  /* background-color: rgb(45, 195, 110); */
  font-size: large;
  height: 1.6rem;
}

input:hover{
  border: solid black;
}

#btn{
  display: block;
  background-color: white;
  margin: 5px auto;
  cursor: pointer;
  height: 2em;
  width: 9em;
  font-size: 0.9rem;
  border: solid green;
}

#btn:hover{
  background-color: rgb(31, 122, 70);
  color: white;
}
#btn:active{
  background-color: rgb(45, 195, 110);
  color: white;
}



a{
  text-decoration: none;
  color: aliceblue;
}

.humidity{
  display: block;
}