* {
  padding: 0;
  margin: 0;
}

body {
  /* display: flexbox;
  text-align: center;
  align-items: center;
  justify-content: center; */
  font-family: 'Mukta', sans-serif;
  /* background-image: linear-gradient(rgb(194, 225, 226), rgb(58, 162, 180)); */

}

.App {
  padding: 4em 0px;
  background-image: linear-gradient(rgba(21, 30, 24, 0.185), rgba(34, 30, 20, 0.426));
  height: 100vh;
}

.center {
  text-align: center;
}

.mainContainer {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.container1 {
  width: 45%;
  padding: 30px 20px;
  /* border: 2px solid black; */
  box-sizing: border-box;
  text-align: center;
}

.container2 {
  width: 50%;
  padding: 30px 20px;
  /* border: 2px solid black; */
  box-sizing: border-box;
  text-align: center;
}

.container3 {
  display: flex;
  justify-content: center;
}

.forFlex {
  /* margin: 10px;
  border: 2px solid black; */
}



.container1 p {
  font-size: 3ex;
}

h2 {
  font-size: 3.5em;
}

input {
  width: 25%;
  /* background-color: rgb(45, 195, 110); */
  font-size: large;
  height: 1.6rem;
}

input:hover {
  border: solid black;
}

#btn {
  display: block;
  background-color: white;
  margin: 5px auto;
  cursor: pointer;
  height: 2em;
  width: 9em;
  font-size: 0.9rem;
  border: solid green;
}

#btn:hover {
  /* background-color: rgb(31, 122, 70); */
  background-image: linear-gradient(rgb(30, 149, 153), rgb(58, 180, 95));
  color: white;
}

#btn:active {
  /* background-color: rgb(45, 195, 110);
  color: white; */
  box-shadow: 2px 2px 5px rgb(58, 180, 95);

}

.Weather {
  margin: 2em auto;
  border: 1px solid black;
  border-radius: 20px;
  width: 50vw;
  /* background-color: rgb(38, 173, 178); */
  color: white;
  background-image: linear-gradient(rgb(30, 149, 153), rgb(58, 180, 95));
  padding: 1.5em 0px;
}

.blue {
  margin: 2em auto;
  border: 1px solid black;
  border-radius: 20px;
  width: 50vw;
  /* background-color: rgb(38, 173, 178); */
  color: white;
  background-image: linear-gradient(rgb(72, 41, 186), rgb(39, 159, 163));
  padding: 1.5em 0px;
}

.green {
  margin: 2em auto;
  border: 1px solid black;
  border-radius: 20px;
  width: 50vw;
  /* background-color: rgb(38, 173, 178); */
  color: white;
  background-image: linear-gradient(rgb(72, 226, 110), rgb(9, 128, 76));
  padding: 1.5em 0px;
}

.yellow {
  margin: 2em auto;
  border: 1px solid black;
  border-radius: 20px;
  width: 50vw;
  /* background-color: rgb(38, 173, 178); */
  color: white;
  background-image: linear-gradient(rgb(181, 176, 44), rgb(185, 124, 39));
  padding: 1.5em 0px;
}

.red {
  margin: 2em auto;
  border: 1px solid black;
  border-radius: 20px;
  width: 50vw;
  /* background-color: rgb(38, 173, 178); */
  color: white;
  background-image: linear-gradient(rgb(223, 44, 44), rgb(209, 128, 35));
  padding: 1.5em 0px;
}