* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Mukta', sans-serif;
  /* background-image: linear-gradient(rgb(194, 225, 226), rgb(58, 162, 180)); */
  /* background-image: linear-gradient(rgba(21, 30, 24, 0.185), rgba(34, 30, 20, 0.426)); */

}

.App {
  padding: 4em 0px;
  background-image: linear-gradient(rgba(21, 30, 24, 0.185), rgba(34, 30, 20, 0.426));
  height: 100vh;
}

.center {
  text-align: center;
  align-items: center;
}

.Container {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.container1 {
  width: 45%;
  padding: 30px 20px;
  /* border: 2px solid black; */
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.container2 {
  width: 50%;
  padding: 30px 20px;
  /* border: 2px solid black; */
  box-sizing: border-box;
  text-align: center;
}

.container3 {
  display: flex;
  justify-content: center;
}

.container1 p {
  font-size: 3ex;
}

h2 {
  font-size: 3.5em;
}

.Weather {
  margin: 2em auto;
  border: 1px solid black;
  border-radius: 20px;
  width: 30vw;
  /* background-color: rgb(38, 173, 178); */
  color: white;
  background-image: linear-gradient(rgb(30, 149, 153), rgb(58, 180, 95));
  padding: 1.5em 0px;
}

.blue {
  margin: 2em auto;
  border: 1px solid black;
  border-radius: 20px;
  width: 30vw;
  /* background-color: rgb(38, 173, 178); */
  color: white;
  background-image: linear-gradient(rgb(72, 41, 186), rgb(39, 159, 163));
  padding: 1.5em 0px;
}

.green {
  margin: 2em auto;
  border: 1px solid black;
  border-radius: 20px;
  width: 30vw;
  /* background-color: rgb(38, 173, 178); */
  color: white;
  background-image: linear-gradient(rgb(72, 226, 110), rgb(9, 128, 76));
  padding: 1.5em 0px;
}

.yellow {
  margin: 2em auto;
  border: 1px solid black;
  border-radius: 20px;
  width: 30vw;
  /* background-color: rgb(38, 173, 178); */
  color: white;
  background-image: linear-gradient(rgb(181, 176, 44), rgb(185, 124, 39));
  padding: 1.5em 0px;
}

.red {
  margin: 2em auto;
  border: 1px solid black;
  border-radius: 20px;
  width: 30vw;
  /* background-color: rgb(38, 173, 178); */
  color: white;
  background-image: linear-gradient(rgb(223, 44, 44), rgb(209, 128, 35));
  padding: 1.5em 0px;
}

.abs {
  position: absolute;
  top: -10px;
  cursor: pointer;
}

.search {
  width: 100%;
  max-width: 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0rem 1rem;
  border-radius: 3rem;
  background: #1f2123;
  margin: 1.25rem auto;
  box-shadow: 5px 5px 7px #2b2c2f, -5px -5px 7px #242922;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  width: 20px;

  outline: none;
  color: white;
  background: #1f2123;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

button {
  border-radius: 25px;
  background-color: antiquewhite;
}

.mainCon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main {
  padding: 0px 20px;
}

/* ggg */